body {
  width: 300px;
  height: 200px;
  background: #ffffff;
}

input {
  accent-color: #000000;
}

div, a {
  color: #000000;
}

div.center {
  text-align: center;
}

a {
  text-decoration: underline;
}